<div class="container-data">
  <div class="row no-gutters h-100">
    <div class="col-md-4 bg-gray tabset-fixed">

      <ngb-tabset>
        <ngb-tab title="Data">
            <ng-template ngbTabContent>
              <div class="card p-3">
                <label>Filter Cryosphere Data By Year Across The World</label>
                <button class="btn-success mb-4" (click)="onSetFilterByYear()">Generate</button>
                <div [hidden]="hideFilterByYearData">
                  <div class="mb-2">
                    <label>Years</label>
                    <ng5-slider [(value)]="sliderValue" [options]="sliderOptions" (userChange)="onSliderChange($event)"></ng5-slider>
                  </div>
                  <ngx-charts-area-chart-stacked
                    width="100%"
                    [hidden]="multiChart.length === 0"
                    [view]="viewChart"
                    [scheme]="colorScheme"
                    [results]="multiChart"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    (select)="onSelectChart($event)">
                  </ngx-charts-area-chart-stacked>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        <ngb-tab title="Images">
          <ng-template ngbTabContent>
            <div class="card">
              <p class="p-4">The cryosphere is those portions of Earth's surface where water is in solid form, including sea ice, lake ice, river ice, snow cover, glaciers, ice caps, ice sheets, and frozen ground.</p>
              <img width="100%" height="auto" src="https://www.nasa.gov/sites/default/files/thumbnails/image/seaicemin18_twitter_2_0.gif"/>
              <ngb-carousel *ngIf="customGIBSImages">
                <ng-template ngbSlide>
                  <img [src]="customGIBSImages[0]" alt="Random NASA photo">
                </ng-template>
                <ng-template ngbSlide>
                  <img [src]="customGIBSImages[1]" alt="Random NASA photo">
                </ng-template>
                <ng-template ngbSlide>
                  <img [src]="customGIBSImages[2]" alt="Random NASA photo">
                </ng-template>

              </ngb-carousel>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="About">
          <ng-template ngbTabContent>
            <div class="card p-5">
              <p>This project was developed for the Cryoning Devs</p>
              <p>Enjoy!</p>
              <h1><i class="mdi mdi-linux"></i></h1>
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

    </div>
    <div class="col-md-8 h-100">
      <div [hidden]="distanceInMeters == null" class="fixed-layers-top">
        <h5>Minimum distance in km: {{distanceInMeters}}</h5>
      </div>
      <app-map [dataLayerSelected]="dataLayerSelected"></app-map>
    </div>
  </div>
</div>
