<nav class="navbar navbar-expand-lg bg-white px-2 py-1">
  <div class="w-100 d-flex justify-content-between">
    <a routerLink="/main" class="navbar-brand"><img src="assets/logo.png" class="img-fluid" alt=""><span><strong>Find</strong> my<br/>cryosphere</span></a>
    <a routerLink="/dashboard">Dashboard</a>
    <form class="form-inline w-50 justify-content-end">
      <input #searchEl class="w-50 form-control mr-sm-2" type="search" placeholder="Search location..." aria-label="Search">
      <button class="btn btn-primary btn-circle" type="submit"><i class="mdi mdi-magnify"></i></button>
    </form>
  </div>
</nav>
<router-outlet></router-outlet>
