<nav class="navbar navbar-expand-lg bg-white  fixed-top">
  <div class="w-100 d-flex justify-content-between">


    <a class="navbar-brand" href="#">Find my cryosphere</a>

      <!--<ul class="navbar-nav mr-auto">
         <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
      </ul>-->
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search location..." aria-label="Search">
        <button class="btn btn-default" type="submit"><i class="mdi mdi-magnify"></i></button>
      </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="side-panel">
    dewdewddddddq wq wqdwq
  </div>
  <div class="container-map">
    <app-map></app-map>
  </div>

</div>
